* {
   color: #fff;
}

body {
   min-height: 100vh;
   background-color: #303030;
}

.appHeader {
   align-items: center;
   background: #ff8604;
   display: flex;
   justify-content: space-between;
   height: 90px;
   outline: 1px solid rgba(0, 0, 0, 0.8);
   padding: 16px;
   box-shadow: -9px 10px 20px rgba(0, 0, 0, 0.4);
   margin: 0 16px;
   border-radius: 8px;
}

main {
   display: flex;
}

nav {
   display: flex;
   gap: 16px;
   margin: 16px 0;
}

h2 {
   border-bottom: solid 2px;
   border-color: #ff8604;
   margin: 16px 0;
}

.link-color {
   color: #ff8604;
   cursor: pointer;
   padding-right: 16px;
}
.left-wrapper {
   width: calc(100% - 400px);
   display: flex;
   flex-direction: column;
   padding: 16px;
}

.appFooter {
   background-color: #ff8604;
   height: 120px;
   display: flex;
   align-items: center;
   padding: 16px;
   border-radius: 8px;
   margin: 0 16px;
}

.aotLogo {
   position: relative;
   display: inline-block;
}
