* {
  color: #fff;
}

header {
  align-items: center;
  background: #ff8604;
  display: flex;
  justify-content: space-between;
  height: 90px;
  outline: 1px solid rgba(0, 0, 0, 0.8);
  padding: 0px 8px;
  box-shadow: inset 0px -20px 0 1px rgba(255, 255, 255, 0.05),
    inset -2px -11px 20px rgba(0, 0, 0, 0.4);
}

.menu-box {
  width: calc(100% - 300px);
  padding: 16px;
}

.struktur-wrapper {
  gap: 2px;
  padding: 2px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background-color: #303030;
}
