.basket {
   display: flex;
   width: 400px;
   background-color: rgb(61, 61, 61);
   padding: 16px;
   min-height: 100vh;
   box-shadow: -9px 8px 20px rgba(0, 0, 0, 0.4);
   border-radius: 8px;
   margin: 16px;
   margin-right: 16px;
   justify-content: center;
}

h4 {
   text-align: center;
}

.basket-content {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow: overlay;
}

.list {
   display: flex;
   flex-direction: column;
}

.basket-row {
   display: flex;
   margin: 18px 0;
   flex-direction: column;
   width: 100%;
}

.basket-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 100%;
   justify-content: space-around;
   margin-top: 8px;
}

.basket-end {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.basket-nav {
   height: 30px;
   width: 30px;
   display: flex;
   justify-content: center;
   padding: 8px;
   align-items: center;
   margin-top: 0;
}

.order-button {
   display: flex;
   flex-direction: column;
   padding-top: 16px;
   align-items: center;
   text-align: center;
}

.court-basket {
   display: flex;
   flex-direction: column;
   align-items: stretch;
}

.mobileBotton {
   position: sticky;
   bottom: 0;
   background-color: blue;
   width: 100%;
   margin: 0 16px;
   display: flex;
   justify-content: center;
}

.mobileBasket {
   display: flex;
   border: 1px solid black;
   width: 100%;
   position: sticky;
   bottom: 0;
   max-height: 30vh;
   overflow: overlay;
   background-color: rgb(61, 61, 61);
   justify-content: center;
   flex-direction: column;
   padding: 16px;
}

.mobileBody {
   margin: 0;
   overflow: hidden;
}

.fixPosition {
   display: flex;
   justify-content: space-around;
   flex: 1;
}

.mobileFooterBasket {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.mobileHeader {
   text-align: center;
}
